.sidebar {
  background: var(--primary-light);
  width: fit-content;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.sidebar img {
  width: 100%;
}
.sidebar .logo {
  position: absolute;
  font-size: 1.7rem;
  font-weight: 600;
  right: 0px;
  top: 0px;
  padding: 30px;
}
@media (max-width: 1000px) {
  .sidebar {
    width: 100%;
    overflow: hidden;
    height: 30%;
  }
  .sidebar img {
    width: 100%;
  }
  .sidebar .logo {
    width: 100%;
    left: 0px;
    background: #fff;
    position: fixed;
  }
}
