.signup {
  /* margin: 40px auto; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
  position: relative;
}
.signup h1 {
  font-size: 3.2rem;
}
.signup .form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  max-width: 500px;
  margin: 0 auto;
}
.signup h3 {
  text-align: center;
  max-width: 400px;
}
.create-with-socials {
  margin: 12px 0;
  display: flex;
  gap: 10px;
}
.create-with-socials button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  transition: scale 0.3s ease;
}
.create-with-socials button:hover {
  transform: scale(1.1);
}
.create-with-socials button.google {
  background: #4a7bff;
  border-color: #4a7bff;
}
.create-with-socials button.google img {
  filter: invert(1);
}
.seperator {
  width: 100%;
}

.auth-form {
  margin: 12px 0;
  width: 100%;
}
.auth-form .full-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-form label {
  width: 100%;
  display: inline;
}
.auth-form label span {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 600;
  font-size: 0.9rem;
}
.auth-form .full-name input {
  width: 100%;
}
.auth-form input {
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  background: none;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
}
.auth-form .checkbox-input {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.auth-form .react-select {
  margin-bottom: 20px;
}
.auth-form .checkbox-input a {
  text-transform: none;
  text-decoration: underline;
  color: var(--primary);
  font-weight: 600;
  display: inline;
}
.auth-form .checkbox-input .checkbox {
  width: 20px;
}
.auth-form .action {
  margin-top: 20px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  flex-direction: column-reverse;
}
.action a {
  color: var(--primary);
  font-weight: 500;
}
.action .btn {
  background: var(--border-color);
  pointer-events: none;
}
.action .btn.active {
  pointer-events: all;
  background: var(--primary);
}

.error {
  color: crimson;
  background: #f5cad3;
  padding: 10px;
  margin-bottom: 10px;
}

/* responsive design */

@media (min-width: 1001px) {
  .signup {
    height: 100vh;
    overflow: hidden;
  }
}
@media (max-width: 1000px) {
  .signup {
    flex-direction: column;
  }
  .signup .form-wrapper {
    margin-top: 100px;
  }
}
@media (max-width: 500px) {
  .signup .form-wrapper {
    padding: 0 12px;
  }
  .action {
    flex-direction: column;
    justify-content: center;
  }
  .action span {
    margin-top: 10px;
    order: 2;
  }
  .auth-form .checkbox-input p {
    font-size: 0.9rem;
  }
}
